* {
    box-sizing: border-box;
}
body {/*підключення тексту Roboto*/
    font-family: 'Roboto', sans-serif;
    background-image: url("images/background-color.png");
}
.container {      /*центрування всього блоку*/
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;/*автомат центрування*/
    margin-right: auto;/*автомат центрування*/
}
.row { /*обов`язково від`ємні марджини, такі як і педдінги в колонках, щоб вони накладались один на одного.Якщо не задавати мінусові маргіни, то відступи сумуватимуться колонки і контейнера і загальний відступ буде більший ніж потрібно*/
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu::after, .breadcrumbs::after {/*відміна обтікання row і menu*/
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {/*колонки, задаємо відступи однакові із від`ємними марджинами в .row(вище),щоб визначали правильно свої розміри- там де зона контейнера*/
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 { /*1 - колонка*/
    width: 25%;
}
.col-md-6 { /*2 - колонка*/
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.col-md-4 {
    width: 50%;
}
.col-md-4_одна_четверта_від_12 {
    width: 33.3333%;
    margin-left: 15px;
    
}
.col-md-8 {
    width: 50%;
}
.col-md-12 {
    width: 100%;
}
.header {/*прозорість Header`а*/
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;/*1)верх-низ; 2)право-ліво*//*те саме margin*/
}
.logo {/*відступ*/
    margin-top: 7px;
}
.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;/*ліві рамки*/
}
.menu > li:last-child {/*права рамка останньго елементу*/
    border-right: 1px solid #2c71b8;
    /*first-child*/ /*nth-child(потрібний номер)*/
}
.menu > li > a {
    display: block;/*однакові розміри a та li*/
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;/*Roboto Light - розмір*/
    color: #2c71b8;
    text-align: center;/*центрування контенту*/
    line-height: 50px;/*центрування контенту*/
}
.menu > li > a:hover {/*дії при наведенні на <a> */
    color: white;
    background-color: #2c71b8 ;
}
.search {
    width: 200px;
    height: 40px;
    display: block;
    border: 1px solid #2c71b8;
    padding: 5px;
    margin-top: 7px; /*розміщення форми пошуку відносно синіх рисок*/

    position: relative;
}
.input-search-text {
    width: 190px;
    height: 30px;
    padding-left: 10px;
    font-weight: 300;
    /* font-size: 21px;  */
    font-size: 16px;
    background-color: transparent;
    border: none;
    position: absolute;
    background-image: url("images/search.png");
    background-repeat: no-repeat;/*одна картинка. Викл повтор*/
    background-position: 166px 9px;
    z-index: 2;/*img лупа поверх кнопки*/
}
.input-search-text:focus{ 
    outline: none; /*прибираєм обводку input*/
}
.input-search-text::placeholder {/*колір тексту   PLACEHOLDER*/
    color: #2c71b8;
}
.input-search-button {/*пошук у формі + картинка*/
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    background-size: 18px 16px;
    border: none;
    position: absolute;
    right: 4px;
}
 /* .img-search { -цей блок був би потрібен дл ч. коду html 
    position: absolute;
    top: 12px;
    right: 13px; 
}  */
.cart { 
    width: 40px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;

    position: relative;
}
.products-count {
    background-color: #2c71b8;
    color: white;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
   
    position: absolute;
    top: -11px;
    left: -11px;
    background-image: url("images/cart.png"); 
}
.cart-logo {/*центруання лого корзини*/
    width: 20px;
    height: 24px;

    position: absolute;
    
    top: 10px;
    left: 10px;
}
.submenu > li {/*рзмір ВИПАДАЮЧОГО МЕНЮ*/
    width: 286px;
    position: relative;
    z-index: 2;
}
.submenu > li > a {
    display: block;/*однакові розміри a та li*/
    text-decoration: none ;
    height: 50px;
    font-size: 21px;
    font-weight: 300;/*Roboto Light - розмір*/
    color: white;
    background-color: #2c71b8;
    text-align: left;/*центрування контенту*/
    padding-left: 30px;
    line-height: 50px;  
    z-index: -10;
} 
.subposition {/*ВИПАДАЮЧЕ МЕНЮ*/
    display: block;
    position: relative;

}
.submenu {/*позиціонування ВИПАДАЮЧОГО МЕНЮ відносно li subposiion*/
    display: none;
    position: absolute;
    left: -1px;
}
.submenu ul li {
    position: absolute;
}
.menu li:hover .submenu {
    display: block;
}
.submenu > li > a:hover {/*дії при наведенні на <a> */
    color: #2c71b8;
    background-color: white ;
}
.menu > li:hover > a {/*hover залишається, навіть коли ми не на ньому*/
    background-color: #2c71b8;
    color: white;
}
.active:hover { 
    background-image: url("images/arrow-down.png");/*додали кутик в меню*/
    background-repeat: no-repeat;
    background-size: 10px 10px; 
    background-position: 118px 20px;/*позиціонуємо 1-X 2-Y*/
}   











.main {
    height: 2335px;

}

.filer {/*фільтр*/
    width: 25%;
    height: 845px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.breadcrumbs > li {
    float: left;
    padding-top: 30px; 
    padding-right: 5px;
}
.breadcrumbs > li > a {
    list-style: none;
    text-decoration: none;  
    color: #96b8dc;
    font-weight: 300;
    font-size: 14px;   
}
.breadcrumbs-img {
    width: 10px;
    height: 10px;
}
/* .breadcrumbs > li > a::after {
    background-image: url("images/breadcrumbs\ \(2\).png");
} */
.current_page {
    font-weight: 300;
    font-size: 14px; 
    color: #96b8dc; 
    text-decoration: underline;  

}
/* .breadcrumbs > li:last-child { саме що і вище current_page
    text-decoration: underline;
} */
.title {
    width: 500px;
    height: 100px;

    padding-top: 30px;
    padding-left: 15px;
    margin-bottom: 50px;
    /* padding-bottom: 60px; */
    font-size: 48px;
    font-weight: bold;
    color: white;
}       

.product {/*1 продукт1*/
    width: 270px;
    height: 652px;
    text-align: center;/*центрвання img по ширині*/
    
    /* margin-top: 60px; */
    /* padding-top: 165px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    border: 1px solid rgb(255, 255, 255);
    
    position: relative;
}

 .product-image1 {
    width: 268px;
    height: 180px;
    /* display: block; */
    background-color: #cadbed;
     position: relative;
    /* z-index: 5;     */
} 
.product-image1 > a {
    /* display: block; */
}
/* .btn-product-1 {
    padding-bottom: 50px;
}
.btn-product-2 {
    padding-bottom: 25px;
} */
.product1-img {

    padding-top: 45px;
    /* position: absolute;          1
    left: 0px;                   2
    right: 0px;                  3
    margin: 0 auto;              4
    top: calc( 50% - 60px); 2ге значення половина висоти
    z-index: 20; */
}
.title-product {
    padding-top: 13px;
    font-size: 30px;
    font-weight: bold;

    color: white;
    text-align: justify;
    padding-left: 15px;
}
.description {
    font-size: 21px;
    font-weight: 100;
    text-align: left;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


/*продовжити тут*/
.features-body {
    /* padding-top: 10px; */
    padding-left: 15px;
    color: white;
    text-align: left;
}
.features-text1 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 50;
}
.features-text2 {
    padding-top: 20px;
    font-size: 21px;
    font-weight: 300;

}
.product-price {
    padding-top: 35px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;

    position: relative;
}
.price-cent {
    font-size: 21px;

    position: absolute;
    top: 35px;
    right: 65px;
}

.product-button {
/* text-align: right; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.product-2 {
    padding-top: 20px;
}
.btn {
    width: 206px;
    height: 48px;
    /* border: 1px solid white; */
    text-align: center;
    background-color: #2c71b8;
    color: white;/*спільний колір 
    для обох кнопок*/
    border: 1px solid white;
    font-size: 20px;
    font-weight: 100;
}
.btn-product-1 {
    padding-bottom: 15px;
    
}
.one:hover {
    color: #2c71b8;
    background-color: white;
}
.two {
    background-color: #598fc7;
    background-image: url("images/cart-white.png");
    background-repeat: no-repeat;
    /* background-size: 15px 15px; */
    background-position: right 13px top 13px;
}
.two:hover {
    color: #598fc7;
    background-color: white;
    background-image: url("images/cart.png");
    background-size: 17px 17px;

}
.img {
    width: 28px;
    height: 28px;
    padding: 4px;
    border: 1px solid #2c71b8;
}
.lighter {
    position: absolute;
    top: 10px;
    right: 10px; 
}
.lighter:hover {
    padding: 5px;
    background-color: #2c71b8;
    background-image: url("images/lighter-white.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 18px 18px;
}
.favorite {
    position: absolute;
    top: 50px;
    right: 10px; 
}
.favorite:hover {
    padding: px;
    /* background-color: #2c71b8; */
    background-image: url("images/favorite-white.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 18px 18px;
    /* position: absolute;
    z-index: 5; */

}



/* 
30x30 квадрат
lighter 20x20
like    18x16 або 18x18
border #548cc5
/////////////////
доробити інші товари */
/* картинки лайк і лайтер зробити через bg-image
без блоку favorite-lighter в html */


.product1 {/*1 продукт1*/
    width: 270px;
    height: 652px;
    text-align: center;/*центрвання img по ширині*/
    
    /* margin-top: 60px; */
    /* padding-top: 165px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    border: 1px solid rgb(255, 255, 255);
    
    position: relative;
}

 .product-image1 {
    width: 268px;
    height: 180px;
    /* display: block; */
    background-color: #cadbed;
     position: relative;
    /* z-index: 5;     */
} 
.product-image1 > a {
    /* display: block; */
}
/* .btn-product-1 {
    padding-bottom: 50px;
}
.btn-product-2 {
    padding-bottom: 25px;
} */
.product1-img {

    padding-top: 45px;
    /* position: absolute;          1
    left: 0px;                   2
    right: 0px;                  3
    margin: 0 auto;              4
    top: calc( 50% - 60px); 2ге значення половина висоти
    z-index: 20; */
}
.title-product {
    padding-top: 13px;
    font-size: 30px;
    font-weight: bold;

    color: white;
    text-align: justify;
    padding-left: 15px;
}
.description {
    font-size: 21px;
    font-weight: 100;
    text-align: left;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


/*продовжити тут*/
.features-body {
    /* padding-top: 10px; */
    padding-left: 15px;
    color: white;
    text-align: left;
}
.features-text1 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 50;
}
.features-text2 {
    padding-top: 20px;
    font-size: 21px;
    font-weight: 300;

}
.product-price {
    padding-top: 35px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;

    position: relative;
}
.price-cent {
    font-size: 21px;

    position: absolute;
    top: 35px;
    right: 65px;
}

.product-button {
/* text-align: right; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.product-2 {
    padding-top: 20px;
}
.btn {
    width: 206px;
    height: 48px;
    /* border: 1px solid white; */
    text-align: center;
    background-color: #2c71b8;
    color: white;/*спільний колір 
    для обох кнопок*/
    border: 1px solid white;
    font-size: 20px;
    font-weight: 100;
}
.btn-product-1 {
    padding-bottom: 15px;
    
}
.one:hover {
    color: #2c71b8;
    background-color: white;
}
.two {
    background-color: #598fc7;
    background-image: url("images/cart-white.png");
    background-repeat: no-repeat;
    /* background-size: 15px 15px; */
    background-position: right 13px top 13px;
}
.two:hover {
    color: #598fc7;
    background-color: white;
    background-image: url("images/cart.png");
    background-size: 17px 17px;

}
.img {
    width: 28px;
    height: 28px;
    padding: 4px;
    border: 1px solid #2c71b8;
}
.lighter {
    position: absolute;
    top: 10px;
    right: 10px; 
}
.lighter:hover {
    padding: 5px;
    background-color: #2c71b8;
    background-image: url("images/lighter-white.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 18px 18px;
}
.favorite {
    position: absolute;
    top: 50px;
    right: 10px; 
}
.favorite:hover {
    padding: px;
    /* background-color: #2c71b8; */
    background-image: url("images/favorite-white.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 18px 18px;
    /* position: absolute;
    z-index: 5; */

}